/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cra-webcast-speaker {
  padding: 1em;
  background-color: #f8f8f8;

  .speaker-wrap {
	@media (min-width: 414px) {
	  &.-grid {
		display: grid;
		grid-template-columns: 150px 1fr;
		grid-gap: 1em;
	  }
	}

	@media (max-width: 413px) {
	  &.-grid {
		.speaker-image {
		  margin-bottom: 1em;
		}
	  }
	}

	&.overflow {
	  .speaker-description {
		max-height: 9.8em;
		overflow: scroll;
	  }
	}

	.speaker-image {
	  grid-column: 1;
	  grid-row: 1;
	  margin: 0;

	  img {
		width: 100%;
	  }
	}

	.speaker-info {
	  grid-column: 2;
	  grid-row: 1;
	  margin: 0;

	  .speaker-about {
		p {
		  margin: 0;

		  &.speaker-name {
			font-weight: bold;
		  }
		}
	  }

	  .speaker-description {
		margin-top: 1em;

		p {
		  margin-bottom: 0;
		  margin-top: 1em;

		  &:first-of-type {
			margin-top: 0;
		  }
		}
	  }
	}
  }
}
